VITE_API_URL=http://localhost:5000/api
VITE_WHATSAPP_NUMBER=your_whatsapp_number
VITE_UPI_ID=your_upi_id@upi
VITE_BUSINESS_NAME=Memeories Store

# Bank Details
VITE_BANK_ACCOUNT_NAME=
VITE_BANK_ACCOUNT_NUMBER=
VITE_BANK_BRANCH=
VITE_BANK_ACCOUNT_TYPE=
VITE_BANK_IFSC=
